@charset "UTF-8";

body{
    background-color: rgb(236, 249, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
div#corpodir{
    position: absolute;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-left: -250px;
    border: 1px;
    background-image: linear-gradient(180deg, #6e56f1, #4430f7);
    border-radius: 20px;
    width: 220px;
    height: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 20px -2px 1px rgba(53, 52, 52, 0.1);
}
div#corpoesq{
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-right: -200px;
    background-color: white;
    padding: 20px;
    width: 280px;
    height: 400px;
    text-align: right;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 20px 20px 20px 1px rgba(53, 52, 52, 0.1);
}
div#geral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 445px;
    margin-top: 160px;
}
div#circulo{
    text-align: center;
    margin-left: 25px;
    padding: 15px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 10px 50px 70px rgb(75, 34, 224),
              inset -10px -10px 1px rgb(86, 70, 231);
}
div#circulo h1{
    color: white;
    font-size: 40pt;
}
div#circulo h5{
    color: rgba(255, 255, 255, .5);
    font-size: 13pt;
}
div#corpodir h2{
    color: rgb(255, 255, 255);
}
div#corpodir h3{
    color: rgb(255, 255, 255,.4);
}
div#corpodir h4{
    color: rgb(255, 255, 255,.4);
    font-size: 12pt;
}
