@charset "UTF-8";

body{
    background-color: rgb(236, 249, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
div#corpodir{
    margin-top: 160px;
    border: 1px;
    background-image: linear-gradient(180deg, #6e56f1, #4430f7);
    border-radius: 20px;
    width: 260px;
    height: 400px;
    padding: 30px;
    text-align: center;
}
